// user-variables.scss
// Use this to overwrite Bootstrap and Space variables
//


// Example of a variable override to change Space's primary color and font size
// Remove the "//" to comment it in and see it in action!
// $primary: red;
// $font-size-base: 1rem;


/* Coolors Exported Palette - https://coolors.co/000000-067fcb-1060b0-000000-000000 */
:root{
/* CSS HEX */
--black: #000000ff;
--steel-blue: #067FCBff;
--green-blue: #1060B0ff;
--black-2: #000000ff;
--black-3: #000000ff;

/* CSS HSL */
--black: hsla(0, 0%, 0%, 1);
--steel-blue: hsla(203, 94%, 41%, 1);
--green-blue: hsla(210, 83%, 38%, 1);
--black-2: hsla(0, 0%, 0%, 1);
--black-3: hsla(0, 0%, 0%, 1);
}

/* SCSS HEX */
$black: #000000ff;
$steel-blue: #067FCBff;
$green-blue: #1060B0ff;
$black-2: #000000ff;
$black-3: #000000ff;

/* SCSS HSL */
$black: hsla(0, 0%, 0%, 1);
$steel-blue: hsla(203, 94%, 41%, 1);
$green-blue: hsla(210, 83%, 38%, 1);
$black-2: hsla(0, 0%, 0%, 1);
$black-3: hsla(0, 0%, 0%, 1);

/* SCSS RGB */
$black: rgba(0, 0, 0, 1);
$steel-blue: rgba(6, 127, 203, 1);
$green-blue: rgba(16, 96, 176, 1);
$black-2: rgba(0, 0, 0, 1);
$black-3: rgba(0, 0, 0, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #000000ff, #067FCBff, #1060B0ff, #000000ff, #000000ff);
$gradient-right: linear-gradient(90deg, #000000ff, #067FCBff, #1060B0ff, #000000ff, #000000ff);
$gradient-bottom: linear-gradient(180deg, #000000ff, #067FCBff, #1060B0ff, #000000ff, #000000ff);
$gradient-left: linear-gradient(270deg, #000000ff, #067FCBff, #1060B0ff, #000000ff, #000000ff);
$gradient-top-right: linear-gradient(45deg, #000000ff, #067FCBff, #1060B0ff, #000000ff, #000000ff);
$gradient-bottom-right: linear-gradient(135deg, #000000ff, #067FCBff, #1060B0ff, #000000ff, #000000ff);
$gradient-top-left: linear-gradient(225deg, #000000ff, #067FCBff, #1060B0ff, #000000ff, #000000ff);
$gradient-bottom-left: linear-gradient(315deg, #000000ff, #067FCBff, #1060B0ff, #000000ff, #000000ff);
$gradient-radial: radial-gradient(#000000ff, #067FCBff, #1060B0ff, #000000ff, #000000ff);
